<?xml version="1.0"?>
<config>
    <modules>
        <Otimizar_Facebookpixel>
            <version>0.1.0.0</version>
        </Otimizar_Facebookpixel>
    </modules>
    <global>
        <models>
            <otimizar_facebookpixel>
                <class>otimizar_Facebookpixel_Model</class>
                <resourceModel>otimizar_Facebookpixel_resource</resourceModel>
            </otimizar_facebookpixel>
            <otimizar_facebookpixel_resource>
                <class>otimizar_Facebookpixel_Model_Resource</class>
            </otimizar_facebookpixel_resource>
        </models>
        <helpers>
            <otimizar_facebookpixel>
                <class>otimizar_Facebookpixel_Helper</class>
            </otimizar_facebookpixel>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <otimizar_Facebookpixel_checkout_cart_add>
                        <class>otimizar_Facebookpixel_Model_Observer</class>
                        <method>checkoutCartAdd</method>
                    </otimizar_Facebookpixel_checkout_cart_add>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>
        <layout>
            <updates>
                <otimizar_facebookpixel>
                    <file>otimizar/facebookpixel.xml</file>
                </otimizar_facebookpixel>
            </updates>
        </layout>
    </frontend>
    <default>
        <otimizar_facebookpixel>
            <general>
                <header_code><![CDATA[<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?

n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;

n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;

t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,

document,'script','//connect.facebook.net/en_US/fbevents.js');


fbq('init', '<FB_PIXEL_ID>');

fbq('track', "PageView");</script>

<!-- End Facebook Pixel Code -->]]></header_code>
            </general>
            <product>
                <view_code><![CDATA[<script>
fbq('track', 'ViewContent', {
  content_name: '{content_name}',
  content_category: '{content_category}',
  content_ids: ['{content_ids}'],
  content_type: 'product',
  value: {value},
  currency: 'BRL'
 });
</script>]]></view_code>
            </product>
        </otimizar_facebookpixel>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <otimizar_facebookpixel>
                                            <title>Facebook Pixel</title>
                                        </otimizar_facebookpixel>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>